body {
    margin: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.nav {
    z-index: 1;
    top: 50px;
    width: 1340px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    left: 0;
    position: relative;
    right: 0;
}

.sticky_nav {
    padding-bottom: 10px;
    top: 0px;
    position: fixed;
}

.sticky_nav_bg {
    border-radius: 50px;
    background-color: rgb(128,128,128);
    transition: background-color 1000ms linear;
}

.nav_logo {
    padding-left: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_logo a {
    display: flex;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.interactive {
    font-family: Montserrat;
    font-weight: bold;
}

.agency {
    font-family: Montserrat;
    font-weight: 300;
}

.nav_navbar {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    justify-content: flex-end;
}

.nav_navbar li {
    margin-right: 33px;
    white-space: nowrap;
}

.nav_navbar li:last-child {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #6b6e70;
    border-radius: 1.4em;
}

.nav_navbar a {
    color: #000000;
    font-size: 18px;
    font-family: Montserrat;
    text-decoration: none;
    transition: 100ms;
}

.nav_navbar a:hover {
    color: #888;
}

.nav_hamburger {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 30px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1410px) {
    header {
        background-position: center;
    }
    
    .nav {
        width: 100%;
    }
    
    .nav_logo {
        padding-left: 0px;
        justify-content: center;
    }
    
    .nav_navbar {
        justify-content: center;
    }
    
    .sticky-nav {
        padding-left: 0;
        padding-right: 0;
    }
    
    .sticky_nav_bg {
        border-radius: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .nav_hamburger {
        display: block;
    }
    
    .nav_navbar {
        display: none;
    }
    
    @keyframes show-menu {
        from {top: -350px;}
        to {top: 59px;}
    }
    
    @keyframes hide-menu {
        from {top: 59px;}
        to {top: -350px;}
    }
    
    .responsive {
        z-index: -1;
        display: flex;
        flex-direction: column;
        position: absolute;
        line-height: 40px;
        animation: show-menu 600ms;
        animation-fill-mode: forwards;
        padding: 0;
        height: 270px;
        background-color: rgb(128,128,128);
    }
    
    .responsive li {
        margin: 0;
    }
    
    .responsive_hide {
        animation: hide-menu 600ms;
        animation-fill-mode: forwards;
    }
}

@media only screen and (max-width: 520px) {
    .nav_logo {
        justify-content: flex-start;
    }
    
    .nav_logo a {
        font-size: 23px;
    }
    
    .nav_hamburger {
        right: 0;
        top: 5px;
    }
}

header {
    width: 100%;
    height: 1080px;
    background-image: url("imgs/header.jpg");
    background-repeat: no-repeat;
}

.header_text {
    height: 594px;
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header_text {
    font-family: Montserrat;
}

.header_text h2 {
    font-size: 48px;
    font-weight: bold;
}

.header_text p {
    position: relative;
    top: -50px;
    font-size: 18px;
    font-family: Montserrat;
    color: #adadac;
    font-weight: 300;
}

.header_text button {
    width: 205px;
    height: 50px;
    border: none;
    background: #4b007c; /* Old browsers */
    background: -moz-linear-gradient(left, #4b007c 14%, #b20084 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4b007c 14%,#b20084 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4b007c 14%,#b20084 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b007c', endColorstr='#b20084',GradientType=1 ); /* IE6-9 */
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat;
    border-radius: 60px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
}

.header_text button:focus,
.header_text button:hover {
    width: 230px;
}

.header_scroll {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    bottom: -70px;
}

.header_scroll p {
    top: -10px;
    color: #ffffff;
    font-size: 14px;
    font-family: Montserrat;
}

@media only screen and (max-width: 732px) {
    .header_text {
        width: 100%;
    }
}

.code_design {
    background-image: url("imgs/img.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 522px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code_box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.code_box h2 {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 48px;
    margin-right: 325px;
}

.code_box_bold {
    font-weight: bold;
}

.code_box p {
    margin-top: -20px;
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 200;
    width: 584px;
}

.code_box button {
    width: 205px;
    height: 50px;
    border: none;
    background: #4e007c; /* Old browsers */
    background: -moz-linear-gradient(left, #4e007c 3%, #b00084 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4e007c 3%,#b00084 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4e007c 3%,#b00084 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e007c', endColorstr='#b00084',GradientType=1 ); /* IE6-9 */
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat;
    border-radius: 60px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 390px;
}

.code_box button:focus,
.code_box button:hover {
    margin-left: 30px;
}

@media only screen and (max-width: 1204px) {
    .code_design {
        height: 650px;
        flex-direction: column;
        background-position: center;
        background-size: cover;
    }
    
    .code_box {
        padding-bottom: 50px;
    }
    
    .code_box h2 {
        margin: 0;
        margin-top: 20px;
    }
    
    .code_box p {
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }
    
    .code_box button {
        margin: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 640px) {
    .code_design {
        height: 750px;
        background-position: center right; 
    }
    
    .code_box h2 {
        font-size: 40px;
    }
    
    .code_box p {
        width: 180%;
    }
}

.what_do {
    position: relative;
    width: 100%;
    height: 894px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.what_do h2 {
    font-size: 40px;
}

.what_do_content {
    width: 1320px;
    padding-bottom: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.what_do_content_box {
    width: 600px;
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;
}

.what_do_content_box img {
    margin-right: 40px;
}

.what_do_content_box_text h3 {
    font-size: 25px;
}

.what_do_content_box_text p {
    font-size: 15px;
    font-weight: 200;
}

.four {
    padding-left: 10px;
}

.what_do button {
    position: absolute;
    bottom: 150px;
    width: 205px;
    height: 50px;
    border: none;
    background: #4e007c; /* Old browsers */
    background: -moz-linear-gradient(left, #4e007c 3%, #b00084 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4e007c 3%,#b00084 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4e007c 3%,#b00084 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e007c', endColorstr='#b00084',GradientType=1 ); /* IE6-9 */
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat;
    border-radius: 60px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
}

.what_do button:focus,
.what_do button:hover {
    width: 230px;
}

@media only screen and (max-width: 1410px) {
    .what_do_content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1216px) {
    .what_do {
        justify-content: flex-start;
        height: 850px;
    }
    
    .what_do button {
        bottom: 50px;
    }
    
    .two {
        padding-right: 10px;
    }
    
    .one {
        padding-right:  35px;
    }
    
    .three {
        padding-right: 25px;
    }
    
    
}

@media only screen and (max-width: 520px) {
    .what_do {
        height: 1380px;
        text-align: center;
    }
    
    .what_do h2 {
        font-size: 36px;
    }
    
    .what_do button {
        bottom: 70px;
    }
    
    .what_do_content_box img {
        padding: 0;
        margin: 0;
    }
    
    .what_do_content_box {
        flex-direction: column;
        text-align: center;
        height: 280px;
    }
}

.portfolio {
    width: 100%;
    height: 480px;
    position: relative;
    margin: 0;
    padding: 0;
}

.siema {
    text-align: center;
}

.siema img {
    width: 640px;
    height: 480px;
}

.images-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    background-color: rgba(17,23,39,0.8);
    opacity: 0;
}

.overlay_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay_text h3 {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
}

.overlay_text p {
    margin-top: -10px;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 16px;
    width: 450px;
    margin-bottom: 60px;
}

.overlay_text button {
    width: 205px;
    height: 50px;
    border: none;
    background: #4e007c; /* Old browsers */
    background: -moz-linear-gradient(left, #4e007c 3%, #b00084 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4e007c 3%,#b00084 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4e007c 3%,#b00084 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e007c', endColorstr='#b00084',GradientType=1 ); /* IE6-9 */
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat;
    border-radius: 60px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
}

.overlay_text button:focus,
.overlay_text button:hover {
    width: 230px;
}

.images-container:focus .overlay,
.images-container:hover .overlay {
    opacity: 1;
}

.prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
}

.prev:focus img,
.prev:hover img {
    margin-right: 10px;
}

.next {
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
}

.next:focus img,
.next:hover img {
    margin-left: 10px;
}

.portfolio_button {
    z-index: 1;
    width: 58px;
    height: 58px;
    border: none;
    background-color: #ggg;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 665px) {
    .siema img {
        width: 100%;
        height: auto;
    }
    
    .portfolio {
        height: auto;
    }
    
    .about {
        top: -7px;
    }
    
    .overlay {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .portfolio_button {
        margin: 0;
        top: auto;
        bottom: 7px;
    }
}

@media only screen and (max-width: 473px) {
    .overlay_text p {
        width: 100%;
        margin: 0;
    }
    
    .overlay_text button {
        margin: 0;
    }
}

.about {
    position: relative;
    width: 100%;
    height: 902px;
    background-image: url("imgs/aboutusbg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about h2 {
    position: relative;
    top: -140px;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: bold;
    color: #ffffff;
}

.about p {
    font-size: 16px;
    font-family: Montserrat;
    color: #949494;
    font-weight: 200;
    width: 855px;
    text-align: center;
    position: relative;
    top: -160px;
}

.about_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1137px;
    position: relative;
    top: -40px;
}

.about_container_box {
    width: 235px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_container_box h3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
}

.about_container_box p {
    font-size: 14px;
    width: 100%;
    top: -20px;
}

.about button {
    width: 205px;
    height: 50px;
    border: none;
    background: #4e007c; /* Old browsers */
    background: -moz-linear-gradient(left, #4e007c 3%, #b00084 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4e007c 3%,#b00084 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4e007c 3%,#b00084 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e007c', endColorstr='#b00084',GradientType=1 ); /* IE6-9 */
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat;
    border-radius: 60px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    top: 50px;
}

.about button:hover {
    width: 230px;
}

@media only screen and (max-width: 1170px) {
    .about_container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }    
}

@media only screen and (max-width: 956px) {
    .about h2 {
        top: auto;
    }
    
    .about p {
        top: -30px;
        padding-bottom: 30px;
    }
    
    .about_container_box p {
        top: -20px;
        padding: 0;
    }
    
    .about button {
        top: auto;
    }
}

@media only screen and (max-width: 872px) {
    .about p {
        width: 100%;
    }
}

@media only screen and (max-width: 486px) {
    .about {
        height: 1600px;
    }
}