body {
    margin: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.nav {
    z-index: 1;
    top: 50px;
    width: 1340px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    left: 0;
    position: relative;
    right: 0;
}

.sticky_nav {
    padding-bottom: 10px;
    top: 0px;
    position: fixed;
}

.sticky_nav_bg {
    border-radius: 50px;
    background-color: rgb(128,128,128);
    transition: background-color 1000ms linear;
}

.nav_logo {
    padding-left: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_logo a {
    display: flex;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.interactive {
    font-family: Montserrat;
    font-weight: bold;
}

.agency {
    font-family: Montserrat;
    font-weight: 300;
}

.nav_navbar {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    justify-content: flex-end;
}

.nav_navbar li {
    margin-right: 33px;
    white-space: nowrap;
}

.nav_navbar li:last-child {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #6b6e70;
    border-radius: 1.4em;
}

.nav_navbar a {
    color: #000000;
    font-size: 18px;
    font-family: Montserrat;
    text-decoration: none;
    transition: 100ms;
}

.nav_navbar a:hover {
    color: #888;
}

.nav_hamburger {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 30px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1410px) {
    .nav {
        width: 100%;
    }
    
    .nav_logo {
        padding-left: 0px;
        justify-content: center;
    }
    
    .nav_navbar {
        justify-content: center;
    }
    
    .sticky-nav {
        padding-left: 0;
        padding-right: 0;
    }
    
    .sticky_nav_bg {
        border-radius: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .nav_hamburger {
        display: block;
    }
    
    .nav_navbar {
        display: none;
    }
    
    @keyframes show-menu {
        from {top: -350px;}
        to {top: 59px;}
    }
    
    @keyframes hide-menu {
        from {top: 59px;}
        to {top: -350px;}
    }
    
    .responsive {
        z-index: -1;
        display: flex;
        flex-direction: column;
        position: absolute;
        line-height: 40px;
        animation: show-menu 600ms;
        animation-fill-mode: forwards;
        padding: 0;
        height: 270px;
        background-color: rgb(128,128,128);
    }
    
    .responsive li {
        margin: 0;
    }
    
    .responsive_hide {
        animation: hide-menu 600ms;
        animation-fill-mode: forwards;
    }
}

@media only screen and (max-width: 520px) {
    .nav_logo {
        justify-content: flex-start;
    }
    
    .nav_logo a {
        font-size: 23px;
    }
    
    .nav_hamburger {
        right: 0;
        top: 5px;
    }
}

header {
    width: 100%;
    height: 1080px;
    background-image: url("imgs/header.jpg");
    background-repeat: no-repeat;
}

.header_text {
    height: 594px;
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header_text {
    font-family: Montserrat;
}

.header_text h2 {
    font-size: 48px;
    font-weight: bold;
}

.header_text p {
    position: relative;
    top: -50px;
    font-size: 18px;
    font-family: Montserrat;
    color: #adadac;
    font-weight: 300;
}

.header_text button {
    width: 205px;
    height: 50px;
    border: none;
    background: #4b007c; /* Old browsers */
    background: -moz-linear-gradient(left, #4b007c 14%, #b20084 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4b007c 14%,#b20084 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4b007c 14%,#b20084 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b007c', endColorstr='#b20084',GradientType=1 ); /* IE6-9 */
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat;
    border-radius: 60px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
}

.header_text button:focus,
.header_text button:hover {
    width: 230px;
}

.header_scroll {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    bottom: -70px;
}

.header_scroll img {
    transition: 0.5s;
}

.header_scroll a:focus img,
.header_scroll a:hover img {
    padding-bottom: 10px;
}

.header_scroll p {
    top: -10px;
    color: #ffffff;
    font-size: 14px;
    font-family: Montserrat;
}

@media only screen and (max-width: 732px) {
    .header_text {
        width: 100%;
    }
}

.lol {
    width: 100%;
    height: 500px;
}